.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.smallCards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.smallCards > .card {
  flex: 1;
}

.smallCards > .card > i {
  font-size: 2rem;
}

.card {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  padding: 1rem;
  border: var(--border-width) solid var(--base-five);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card > i {
  z-index: -10;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--base-four);
  font-size: 3em;
}

.card h5 {
  color: var(--text-color-medium);
}

.cards > .card ul,
.smallCards > .card ul {
  gap: 0.5em;
  margin: 1em 0;
}

.cards > .card li,
.smallCards > .card li {
  font-size: 0.8rem;
  padding: 0.2em 0.5em;
  margin: 0;
}

.card li:last-child {
  display: inline-block;
  flex: 0 0 auto !important;
  opacity: 1 !important;
  flex-basis: auto;
}

.card div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card button {
  flex: 1;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
}

.feature {
  flex: 1;
  height: 300px;
}

.video {
  border-radius: var(--border-radius);
  background-color: black;
  height: 300px;
  width: 100%;
}

.video > iframe {
  border-radius: var(--border-radius);
  border: 0;
}

@media only screen and (min-width: 992px) {
  .smallCards {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card div {
    flex-direction: row;
  }
  .features {
    flex-direction: row;
  }
}
